body{
  background-color:#b3b3b3;
}
header{ 
 font-variant:small-caps;
 text-align:center;
 background-color:black;
 padding-bottom:1%;
}
h2{ 
 background-color:black;
color:white;
}
section{
 width:30%;
 float:left;
margin-right:2%;
 display:inline-block;
}
footer{
 background-color:#00b7ea;
 height:100px;
 clear:both;
color:white;
} 
img{
  width:75px;
}
h1{
  color:red;
}
nav a{
 color:white;
}